# Kaggle "Predict Future Sales" Competition
### 1. Problem Definition:
- Goal: Predict total sales for every product and store in the following month.

### 2. Data Exploration:

In [ ]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns
import sklearn as skl
from IPython.display import Markdown

In [37]:
#Read Data Sets
path = 'Dataset/'

DataDescription = Markdown(f"[Dataset Description]({path}DatasetDescription)")
display("This is Dataset Description, provided by Kaggle")
display(DataDescription)

itemCategories  = pd.read_csv(path + 'item_categories.csv', index_col = 'item_category_id')
items           = pd.read_csv(path + 'items.csv', index_col = 'item_id')
salesTrain      = pd.read_csv(path + 'sales_train.csv')
shops           = pd.read_csv(path + 'shops.csv', index_col = 'shop_id')

'This is Dataset Description, provided by Kaggle'

[Dataset Description](Dataset/DatasetDescription)

Let's first have a look at the data sets:

In [12]:
display(itemCategories.head())
display(items.head())
display(salesTrain.head())
display(shops.head())

                       item_category_name
item_category_id
0                 PC - Гарнитуры/Наушники
1                        Аксессуары - PS2
2                        Аксессуары - PS3
3                        Аксессуары - PS4
4                        Аксессуары - PSP

                                                 item_name  item_category_id
item_id
0                ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D                40
1        !ABBYY FineReader 12 Professional Edition Full...                76
2            ***В ЛУЧАХ СЛАВЫ   (UNV)                    D                40
3          ***ГОЛУБАЯ ВОЛНА  (Univ)                      D                40
4              ***КОРОБКА (СТЕКЛО)                       D                40

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

                              shop_name
shop_id
0         !Якутск Орджоникидзе, 56 фран
1         !Якутск ТЦ "Центральный" фран
2                      Адыгея ТЦ "Мега"
3        Балашиха ТРК "Октябрь-Киномир"
4              Волжский ТЦ "Волга Молл"

We will examine salesTrain Dataset.

Starting with date_block_num column to see if there are any possible missing values.

In [24]:
# Getting value count from date_block_num coulmn and converting it into a Dataframe
date_block_num_valueCount = salesTrain['date_block_num'].value_counts().reset_index()

# Rename columns for clarity
date_block_num_valueCount.columns = ['Value', 'Count']

# Display DataFrame without index column
display(date_block_num_valueCount.style.hide(axis = 'index'))

### 3. Data Preprocessing:

### 4. Model Selection:


### 5. Feature Engineering:

### 6. Model Training:

### 7. Model Evaluation:

### 8. Submission: